@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='text'],
input[type='password'],
input[type='email'] {
  @apply w-full my-2 py-2 px-3 border rounded-2xl;
}

button {
  @apply bg-gray-300;
}

button.primary {
  @apply bg-primary p-2 w-full text-white rounded-2xl mt-2;
}
